/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  display: flex;
  justify-content: flex-end; /* pushes nav to right */
  padding: 1rem 2rem;
}

.nav ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between; /* logo left, links right */
  align-items: center;
  padding: 1rem 2rem;
  background:#7B3F00;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.navLinks a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  transition: color 0.3s;
}

.navLinks a:hover {
  color: #888;
}

/* Body and Main */
body {
  background-color: #7B3F00; 
  color:white;
  font-family: Arial, sans-serif;
}


main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

/* Hero / Profile Image */
.profileImage {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  object-fit: cover;
  border: 3px solid;
  margin-top: 1rem;
}

/* Titles / Headings */
.title {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}

.heading {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

/* About / Text Sections */
.text {
  max-width: 800px;
  margin: 0 auto;
  text-align: justify;
  line-height: 1.8;
  font-size: 1.1rem;
  color: white;
}

.text p {
  margin-bottom: 1.2rem;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 5rem; /* space between each project */
  margin-top: 5rem;
}
.projects-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem; /* space between each project card */
}


.connect {
  text-align: center;
  margin: 50px 0;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: nowrap;
}

.social-item {
  text-align: center;
}

.social-item img {
  width: 150px;   /* adjust size */
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s;
}

.social-item img:hover {
  transform: scale(1.05);
}

.social-item p {
  margin-top: 10px;
  font-size: 1.1rem;
  font-weight: 500;
}

a {
  color: black;
  text-decoration: none; /* removes underline */
}

a:hover {
  color: #555; /* optional: grey on hover */
}



/* Section spacing */
.section {
  margin: 3rem 0;
}

